/* style.css */
nav {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

/* Hamburger Menu (untuk mobile) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 2px;
  width: 25px;
  background-color: white;
  margin-bottom: 4px;
  display: block;
}

/* Media Query untuk tampilan mobile */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
  }

  .menu li {
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }

  .menu.active {
    display: flex;
  }
}
